<div style="text-align:left">
  <h2>Task #{{task.id}} ({{task.title}}) Details</h2>
  <mat-form-field>
    <i class="material-icons mdc-text-field__icon" tabindex="0" role="button">title</i> <input matInput [(ngModel)]="task.title" placeholder="Title">
  </mat-form-field>
  <div><span>Description: </span>{{task.description}}</div>
</div>