/**
 * @package:     kwaeri-user-experience CSS
 * @sub-package: kwaeri-ux-md.scss
 * @author:      Richard B. Winters <a href="mailto:rik@kwaeri.tk">rik AT mmogp DOT com</a>
 * @copyright:   Copyright 2011-2015 Massively Modified, Inc.
 * @license:     Apache, Version 2.0 <http://www.apache.org/licenses/LICENSE-2.0>
 * @version:     0.1.12
 *
 * ------------------------
 *
 * Color Related
 * ------------------------
**/


// Takes a low and high color and mixes a gradient for all vendors
@mixin generate-linear-gradient($low, $high)
{
    background: -webkit-gradient(linear, 0 0, 0 100%, from($low), to($high));
    background: -moz-linear-gradient($low, $high);
    background: -o-linear-gradient($low, $high);
    background: linear-gradient($low, $high);
}