/**
 * @package:     kwaeri-user-experience CSS
 * @sub-package: kwaeri-ux-md.scss
 * @author:      Richard B. Winters <a href="mailto:rik@kwaeri.tk">rik AT mmogp DOT com</a>
 * @copyright:   Copyright 2011-2015 Massively Modified, Inc.
 * @license:     Apache, Version 2.0 <http://www.apache.org/licenses/LICENSE-2.0>
 * @version:     0.1.12
 *
 * ------------------------
 *
 * Mdida Query
 * ------------------------
**/


  /*
    Material Design calls out specific breakpoints at 480, 600, 840, 960, 1280, 1440, and 1600dp.
   */
// Takes a list of media queries, and assigns styles to them
//$breakpoint-map: (
//    pl: (
//        styleProp: width,
//        values: (
//            width: 100,
//            height: 100
//        )
//    )
//);

@mixin generate-media-queries( $breakpoint-map )
{
    @each $deviceSize, $styleSet in $breakpoint-map {
        @if( $deviceSize == pl ){
            //@media all and ( min-width: 481px ) and ( max-width: 600px ) {
            @media all and ( min-width: 480px ) {
                @each $styleProperty, $styleValue in $styleSet {
                    #{$styleProperty}: $styleValue;
                }
            }
        }
        @if( $deviceSize == ts ){
            //@media all and ( min-width: 601px ) and ( max-width: 840px ) {
            @media all and ( min-width: 600px ) {
                @each $styleProperty, $styleValue in $styleSet {
                    #{$styleProperty}: $styleValue;
                }
            }
        }
        @if( $deviceSize == tl ){
            //@media all and ( min-width: 841px ) and ( max-width: 960px ) {
            @media all and ( min-width: 840px ) {
                @each $styleProperty, $styleValue in $styleSet {
                    #{$styleProperty}: $styleValue;
                }
            }
        }
        @if( $deviceSize == ds ){
            //@media all and ( min-width: 961px ) and ( max-width: 1280px ) {
            @media all and ( min-width: 960px ) {
                @each $styleProperty, $styleValue in $styleSet {
                    #{$styleProperty}: $styleValue;
                }
            }
        }
        @if( $deviceSize == dm ){
            //@media all and ( min-width: 1281px ) and ( max-width: 1440px ) {
            @media all and ( min-width: 1280px ) {
                @each $styleProperty, $styleValue in $styleSet {
                    #{$styleProperty}: $styleValue;
                }
            }
        }
        @if( $deviceSize == dl ){
            //@media all and ( min-width: 1441px ) and ( max-width: 1600px ) {
            @media all and ( min-width: 1440px ) {
                @each $styleProperty, $styleValue in $styleSet {
                    #{$styleProperty}: $styleValue;
                }
            }
        }
        @if( $deviceSize == dxl ){
            //@media all and ( min-width: 1601px ) and ( max-width: 1920px ) {
            @media all and ( min-width: 1600px ) {
                @each $styleProperty, $styleValue in $styleSet {
                    #{$styleProperty}: $styleValue;
                }
            }
        }
        @if( $deviceSize == hd ){
            //@media all and ( min-width: 1920px ) {
            @media all and ( min-width: 1920px ) {
                @each $styleProperty, $styleValue in $styleSet {
                    #{$styleProperty}: $styleValue;
                }
            }
        }
    }
}