<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="../assets/images/mmod-angular-icon.svg">
</div>

<div style="text-align:center">
  <app-tasks></app-tasks>
</div>