/*-----------------------------------------------------------------------------
 * @package:    rngdng
 * @author:     Richard B Winters
 * @copyright:  2015-2018 Massively Modified, Inc.
 * @license:    Apache-2.0
 * @version:    0.1.0
 *---------------------------------------------------------------------------*/


@import '~@angular/material/theming';

/* Plus imports for other components in your app.
 *
 * Include the common styles for Angular Material. We include this here so that you only
 * have to load a single css file for Angular Material in your app.
 * Be sure that you only ever include this mixin once!
 */
@include mat-core();

/* Define the palettes for your theme using the Material Design palettes available in palette.scss
 * (imported above). For each palette, you can optionally specify a default, lighter, and darker
 * hue. Available color palettes: https://material.io/design/color/
 */
$mmod-dark-primary: mat-palette($mat-blue-grey);
$mmod-dark-accent:  mat-palette($mat-amber, A200, A100, A400);

/**
 * The warn palette is optional (defaults to red).
 */
$mmod-dark-warn:    mat-palette($mat-deep-orange);

/**
 * Create the theme object (a Sass map containing all of the palettes).
 */
$mmod-dark-theme: mat-dark-theme($mmod-dark-primary, $mmod-dark-accent, $mmod-dark-warn);

/**
 * Include theme styles for core and each component used in your app.
 * Alternatively, you can import and @include the theme mixins for each component
 * that you are using.
 */
@include angular-material-theme($mmod-dark-theme);