/**
 * @package:     rngdng
 * @author:      Richard B. Winters <a href="mailto:rik@kwaeri.tk">rik AT mmogp DOT com</a>
 * @copyright:   Copyright 2011-2015 Massively Modified, Inc.
 * @license:     Apache, Version 2.0 <http://www.apache.org/licenses/LICENSE-2.0>
 * @version:     0.1.12
 *
 * ------------------------
 *
 * 1. Base styles
 *
 *    1-A KUX Theme
 *
 * ------------------------
**/


/*******************************************************************************
 *  1-A KUX THEME
 ******************************************************************************/

// Be sure to compliment the MDC theme colors you set in kwaeri-ux-md.scss

$font-family-primary:           Roboto, sans-serif;
$font-family-code:              Roboto Mono, sans-serif;
$bg-color-primary:              #2e2e2e;   // ffffff
$bg-color-hl:                   #616161;
$bg-color-midhl:                #424242;
$bg-color-lowball:              #212121;
$bg-color-inverse:              #fdfdfd;

$font-color-primary:            #787878; // 666666
$font-color-secondary:          #212121;
$font-color-dark:               #656565;
$font-color-lowball:            #373737;
$font-color-highlight:          #fdfdfd;
$font-color-inverse:            #212121;
$font-color-code-inverse:       #66d9ef;

$separator-color-primnary:      #e4e4e4;
$separator-color-secondary:     rgba(0,0,0,.12);