/**
 * @package:     rngdng
 * @author:      Richard B. Winters <a href="mailto:rik@kwaeri.tk">rik AT mmogp DOT com</a>
 * @copyright:   Copyright 2011-2015 Massively Modified, Inc.
 * @license:     Apache, Version 2.0 <http://www.apache.org/licenses/LICENSE-2.0>
 * @version:     0.1.12
 *
 * ------------------------
 *
 * IMAGE STYLES
 *
 *    A Image Components
 * ------------------------
**/


.image-link {
    text-decoration: none;

    &.\+horizontally-centered {
        @extend .image-link;

        margin: 0 auto;
    }
}