/**
 * @package:     rngdng
 * @author:      Richard B. Winters <a href="mailto:rik@kwaeri.tk">rik AT mmogp DOT com</a>
 * @copyright:   Copyright 2011-2015 Massively Modified, Inc.
 * @license:     Apache, Version 2.0 <http://www.apache.org/licenses/LICENSE-2.0>
 * @version:     0.1.12
 *
 * ------------------------
 *
 * Lytebox
 * ------------------------
**/


// Colors
$lytebox-backdrop-color:    #000000;
$lytebox-bg-color:          #ffffff;
$lytebox-border-color:      #202020;


// Position
$lytebox-z-index-base:        999999720;


/* Lyte - Lytebox */
.panel.lyte {
    margin: 0 auto;
    margin-top: 50px;
    padding: 20px;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: none;
    background: $lytebox-backdrop-color;
    z-index: $lytebox-z-index-base !important;
}

.lytebox {
    display: none;
    margin: 0;
    padding: 5px;
    overflow: hidden;
    position: fixed;
    z-index: $lytebox-z-index-base + 1 !important;
    background: $lytebox-bg-color;
    border-radius: 5px;
    border: 3px solid $lytebox-border-color;

    .header-block {
        margin: 0;
        padding: 5px 0 10px 0;
        position: fixed;
        z-index: $lytebox-z-index-base + 1;
        background: $lytebox-bg-color;
        border-radius: 5px 5px 0 0;
        border: 3px solid $lytebox-border-color;
        border-bottom: none;
        font-weight: bolder;
        cursor: move;
        overflow: hidden;

      a.title {
          margin-left: 6px;
          float: left;
          cursor: move;
          text-decoration: none !important;
      }

      a.btn.close {
          float: right;
          margin-right: 6px;
          cursor: pointer;
          text-decoration: none !important;
      }
    }

    .content-block {
      display: none;
      margin: 0 auto;
      padding: 0;
      height: auto;
      width: auto;
      background: $lytebox-bg-color;
      border-radius: 5px;
      z-index: $lytebox-z-index-base + 2;
    }

    .iframe-block {
      margin: 0;
      padding: 0;
      width: 800px;
      height: 600px;
    }
}