/**
 * @package:     rngdng
 * @author:      Richard B. Winters <a href="mailto:rik@kwaeri.tk">rik AT mmogp DOT com</a>
 * @copyright:   Copyright 2011-2015 Massively Modified, Inc.
 * @license:     Apache, Version 2.0 <http://www.apache.org/licenses/LICENSE-2.0>
 * @version:     0.1.12
 *
 * ------------------------
 *
 * Navigation Styles
 * ------------------------
**/


/*** Top App Bar (Material Design Toolbar Replacement) ****/

.mdc-top-app-bar--fixed {

    top: 0px;
    margin-top: 0;
    z-index: 4;
    transition: margin-top 235ms cubic-bezier( 0.4, 0, 0.2, 1 );

    // Sets the ink color of the top app bar.
    @include mdc-top-app-bar-ink-color( $mdc-theme-primary );

    // Sets the ink color of the top app bar icons.
    @include mdc-top-app-bar-icon-ink-color( $mdc-theme-on-primary );

    // Sets the fill color of the top app bar.
    @include mdc-top-app-bar-fill-color( $mdc-theme-background );

    // Sets the fill color of the top app bar and automatically sets a high-contrast ink color.
    //mdc-top-app-bar-fill-color-accessible($color)

    // Sets the border-bottom-radius property on the action item side. Used only for the short top app bar when collapsed.
    //mdc-top-app-bar-short-border-radius($border-radius)

    .mdc-menu{

        .mdc-menu__items {

            //&.mdc-list {

            //}

            .mdc-list-item {

                .drop-down_item {
                    text-decoration: none;
                    color: $mdc-theme-on-background;

                    &:hover {
                        color: $mdc-theme-primary;
                    }
                }
            }

        }
    }

    &.\+inverse-colors {
        //@extend .mdc-top-app-bar--fixed;

        @include mdc-top-app-bar-ink-color( $font-color-inverse );

        @include mdc-top-app-bar-icon-ink-color( $font-color-inverse );

        @include mdc-top-app-bar-fill-color( $bg-color-inverse );
    }


}

.navbar_brand {
    margin-left: 24px !important;
}

.client-nav-grp{
    display: none;
}

.client-nav-grp.active{
    display: block;
}

.main-nav-btn{
    cursor: pointer;
}