/**
 * @package:     rngdng
 * @author:      Richard B. Winters <a href="mailto:rik@kwaeri.tk">rik AT mmogp DOT com</a>
 * @copyright:   Copyright 2011-2015 Massively Modified, Inc.
 * @license:     Apache, Version 2.0 <http://www.apache.org/licenses/LICENSE-2.0>
 * @version:     0.1.12
 *
 * ------------------------
 *
 * Parallax
 *
 *    A Parallax Base
 *
 * ------------------------
**/


/*******************************************************************************
 *  A Parallax Base
 ******************************************************************************/


.parallax_layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    //@include generate-vendor-properties('transform-origin-x', '100%');
}
.parallax_layer\+cover {
    @extend .parallax_layer;
    background-size: cover !important;
}

.parallax_group {
    position: relative;
    height: 100vh;
    transform-style: preserve-3d;
    overflow: hidden;
}