/**
 * @package:     rngdng
 * @author:      Richard B. Winters <a href="mailto:rik@kwaeri.tk">rik AT mmogp DOT com</a>
 * @copyright:   Copyright 2011-2015 Massively Modified, Inc.
 * @license:     Apache, Version 2.0 <http://www.apache.org/licenses/LICENSE-2.0>
 * @version:     0.1.12
 *
 * ------------------------
 *
 * Sidebar
 *
 *     A Sidebar Styles (Side-Menu)
 *     B Sidebar Styles (Short-Nav/scrollspy)
 * ------------------------
**/


// Includes
@import '../../mixins/vendor';


// Colors
$sidebar-bg-color:                          #212121;
$sidebar-nav-bg-color:                      #6e6e84;
$sidebar-nav-btn-color:                     rgba( 0, 0, 0, 0.2 );
$sidebar-border-color:                      #080808;
$sidebar-border-light-color:                #dddddd;
$sidebar-font-color:                        #FFFFFF;
$sidebar-font-darker-color:                 #eeeeee;
$sidebar-font-darker-hover-color:           #bfbff3;
$sidebar-collapse-btn-font-color:           #888888;
$sidebar-collapse-btn-hover-font-color:     #cccccc;
$sidebar-font-shadow-color:                 #666666;
$sidebar-box-shadow-color:                  #333333;

$short-nav-bg-color:                        #ffffff;
$short-nav-primary:                         #e4e4e4;


/*******************************************************************************
 *  A SIDEBAR STYLES (Side-Menu)
 ******************************************************************************/

/**** Root MDC modifiers (Must apply these styles if not using .side-menu) ****/
.mdc-drawer{
    &.\+persist {

        &.\+fix{
            z-index: 2;
            position: fixed;
            @include mdc-elevation(2);

            &.\+maximize-height {
                @extend .mdc-drawer.\+persist.\+fix;
                height: 100%;
            }
        }
    }

    &.\+permanent {
        height: 100%;

        &.\+fixed {
            @extend .mdc-drawer.\+permanent;
            position: fixed;
        }
    }
}


/**** KUX Side-Menu Additions ****/
.side-menu {
    @extend .mdc-drawer.\+permanent.\+fixed;

    /**** Main Sde Menu ***/
    width: 284px;
    @include mdc-drawer-fill-color-accessible( surface );
    @include mdc-drawer-ink-color(on-surface);
    border-color: $mdc-theme-surface;
    text-transform: uppercase;
    overflow: auto;

    &_logo {
        width: 48px;
        padding: 40px 0 0;
        margin: 0 auto;
        fill: currentColor;
    }

    &_title {
        @include mdc-typography(headline6);

        align-self: center;
        margin: 5px auto;
    }

    &_select-item-divider {
        @include mdc-theme-prop(border-bottom-color, primary);

        width: 50px;
        margin: 0 auto;
        border-bottom-width: 2px;
        position: relative;
        top: -5px;
    }

    .mdc-drawer__header-content {
        text-align: center;
    }

    .mdc-list-item {
        @include mdc-list-item-primary-text-ink-color( on-primary );
        border-radius: 3px;
    }

    &_section-title {
        display: block;
        color: $font-color-secondary;
        padding-left: 24px;
        padding-top: 40px;
        padding-bottom: 12px;

    }

    &.\+inverse {
        @include mdc-drawer-fill-color-accessible( $bg-color-inverse );
        @include mdc-drawer-ink-color(on-surface);
        border-color: $short-nav-primary;

        .mdc-list-item {
            @include mdc-list-item-primary-text-ink-color( $font-color-primary );
        }
    }

    ol, ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

}

.side-menu_nav {

    border-bottom: 1px solid rgba( 0, 0, 0, .12 );
    padding-bottom: 40px;
    padding-top: 40px;

    &.side-menu_menu-section {

        margin-top: 0;
        padding-top: 0;
    }

    .side-menu_menu-item {

        position: relative;
        overflow: hidden;
    }

    .side-menu_submenu-toggle {
        padding: 12px 48px;
        padding-left: 24px;
        width: 100%;
        display: block;
        text-align: left;
        text-transform: none;
        cursor: pointer;

        &.active {
            font-weight: 600;
        }
    }

    .side-menu_submenu-wrap {
        overflow: hidden;
    }
}

.submenu_menu-section {
    margin-top: auto;
    height: 0;

    .submenu_menu-item {
        padding: 12px 48px;
        width: 100%;
        height: auto !important;
        min-height: 36px !important;
        display: block;
        text-align: left;
        text-transform: none;
        color: $mdc-theme-primary;

        &.active {
            font-weight: 600;
        }
    }

    &.\+initialized {
        height: auto;
        transition: margin-top 235ms cubic-bezier( .4, 0, .2, 1 );
    }
}

.side-menu_sub-nav {
    width: 100%;
    color: $font-color-primary;
    text-transform: none;

    li {
        padding:12px, 48px;
        width: 100%;
        list-style-type: none;
        cursor: pointer;
        border-bottom: 1px solid $short-nav-primary;

        &:hover {
            color: #cdcdcd;
            border-bottom: 1px solid $mdc-theme-primary;
        }

        button {
            width: 100%;
            display: block;
            text-align: left;
        }
    }
}

.side-menu.\+mimic-appbar {
    box-shadow: none !important;
    transition: box-shadow 200ms linear !important;

    &.\+scrolled {
        box-shadow: 2px 0px 4px -1px rgba(0, 0, 0, 0.2), 4px 0px 5px 0px rgba(0, 0, 0, 0.14), 1px 0px 10px 0px rgba(0, 0, 0, 0.12) !important;
        transition: box-shadow 200ms linear !important;
    }
}

.container.\+flex-side-menu {
    margin-left: 284px;
    width: auto !important;
}

/*******************************************************************************
 *  B SIDEBAR STYLES
 ******************************************************************************/
.short-nav {
    background-color: $short-nav-bg-color;
    color: $short-nav-primary;

    &.\+scrollspy {
        @extend .short-nav;
        position: fixed;
        right: 0;
        top: 0;
        width: 240px;
        height: 100%;
        border-left: 1px solid $short-nav-primary;
    }

    &\_toolbar-spacer {
        height: 64px;
    }
}

.container.\+flex-scrollspy {
    margin-right: 240px;
    width: auto !important;
}