/*-----------------------------------------------------------------------------
 * @package:    rngdng
 * @author:     Richard B Winters
 * @copyright:  2015-2018 Massively Modified, Inc.
 * @license:    Apache-2.0
 * @version:    0.1.0
 *---------------------------------------------------------------------------*/


/* You can add global styles to this file, and also import other style files */


/** Adding custom dark theme to the application **/
@import '/assets/mmod-dark-theme';


/** Adding kux-based styling **/


// MDC THEME STUFFS
/**
**/
$mdc-theme-primary: #b0c4de;     // Label Text, Button Text, HIghlights on form fields
$mdc-theme-on-primary: #fdfdfd;  //
$mdc-theme-secondary: #2e2e2e;
$mdc-theme-on-secondary: #b0c4de;
$mdc-theme-surface: #212121;     // Surface of components (i.e. textfields input backgrounds)
$mdc-theme-on-surface: #b0c4de;  // Text color on surfaces (i.e. textfields input color)
$mdc-theme-background: #212121;  // Main background of component objects, such as drawer (left nav object)
$mdc-theme-on-background: #fdfdfd;


// 0. Material Design Components from Google
@import "~@material/layout-grid/mdc-layout-grid";


// 1. Basics, Fonts/colors - scheme values
@import 'assets/scss/core/base';


// 2. Typography styles
@import 'assets/scss/core/typography';


// 3. Structural styles
@import 'assets/scss/core/structure';


// 4. Grid styles
@import 'assets/scss/core/grid';


// 5. Prototyping styles
@import 'assets/scss/core/prototyping';


// 6. Control styles
@import 'assets/scss/core/controls';


// 7. Component styles
@import 'assets/scss/core/components';


// 8. Customization stuffs
@import 'assets/scss/core/customize';